{% extends 'header.html' %}



{% block content %}
<div class="container" >
  <h1 style="text-align: center;margin-bottom: 25px;"> Deployment Observability</h1>

<div style="margin-top: 80px;" class="row ">
<div class="col-6">


<h1 style="text-align: center;margin-bottom: 25px;">Failure Breakdown</h1>


<table class="table table-primary" class="display">
    <thead>
        <tr>
            <td>Error</td>
            <td>number of failures</td>
            <td>Percentage Value</td>

        </tr>
    </thead>
    <tbody>

{% for object in failure_break %}

<tr>
 <td>{{object.0}}</td>
    <td>{{object.1}}</td>
    <td>{{object.2}}%</td>

</tr>
{% endfor %}

    </tbody>
</table>
</div>
<div class="col-1" ></div>
<div class="col-3" >
<!-- Pie chart Area -->
<h1 style="text-align: center;margin-bottom: 25px;">Statistics  </h1>

{% if stat_data %}



<div  class="row" >
  <div class="col-1" ></div>
  <div class="card text-white bg-secondary align-self-center" style="max-width: 15rem;">
    <div id="edit" style="text-align: center;" class="card-header">Total Count</div>
    <div class="card-body">
      <h5  style="text-align: center;" class="card-title">{{stat_data.0}}</h5>
    </div>
  </div>
      <div  id="pie_chart" class=" col-1" >

      </div>
    </div>

    {% endif %}
</div>
</div>
</div>
      <!-- script for the pie chart  -->
   <script>

    var options = {
              series: [{{stat_data.1}}, {{stat_data.2}}],
              chart: {
              width: 380,
              type: 'pie',

            },
            plotOptions: {
          pie: {
            customScale: 0.9
          }
        }
            ,
            labels: ['Total Success', 'Total Failed',],
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
            };

            var chart = new ApexCharts(document.querySelector("#pie_chart"), options);
            chart.render();
    </script>
{% endblock content %}
